body {
    font-family: Calibri, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
}

.btn {
    margin-top: -8px;
    border: 0px;
    border-radius: 2px;
    padding: 8px 24px;
    background-color: rgb(110, 132, 255);
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 590px;
    width: 590px;
    border-style: dashed;
    border-width: 6px;
    border-color: rgb(25, 194, 255);
}

.row {
    display: flex;
}

.square{
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box
}